.wrapper {
  @apply grid grid-cols-6 sm:grid-cols-12 justify-items-center;
}

.transition {
  transition: opacity 0.3s 0.3s ease-in-out, transform 0.6s ease-out;
}

.imageScroll {
  filter: brightness(0.8);
  /* animation: scrollDown 5s ease-in-out alternate infinite; */
}

@keyframes scrollDown {
  to {
    object-position: bottom;
  }
}
