@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;700&display=swap");
html {
	scroll-behavior: smooth;
}
section {
	scroll-margin-top: 70px;
}
body {
	@apply text-gray-100;
	@apply bg-gray-800;
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	max-width: 100vw;
	overflow-x: hidden;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}
.accented {
	z-index: 0;
	position: relative;
}
.accented::after {
	@apply text-yellow-600;
	display: block;
	content: "_";
	font-family: "Permanent marker";
	font-size: 72px;
	position: absolute;
	bottom: 0.625rem;
	right: -0.5rem;
	transform: rotateZ(-5deg);
	z-index: -1;
}

.blogpost {
	@apply flex flex-col gap-4 text-sm;
}

.blogpost h2 {
	@extend accented;
	@apply text-2xl font-medium font-marker w-max mt-12 mb-4;
}

.blogpost img {
	@apply mx-auto my-4 rounded-md;
}

.blogpost p {
	@apply text-gray-300 leading-6;
}

.blogpost pre {
	@apply bg-green-900 py-4 pt-16 rounded-md relative overflow-hidden;
}
.blogpost code {
	@apply text-green-100;
}

.blogpost pre::before {
	content: "";
	@apply absolute top-0 left-0 w-full h-12 bg-gray-900;
}

.blogpost pre::after {
	content: "";
	@apply absolute top-0 right-0 w-4 h-4 rounded-full m-4 bg-yellow-400;
}
.confetti {
	position: absolute;
	width: 20px;
	height: 20px;
	z-index: -1;
	transition: transform 10s ease;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-name: floatOne;
	animation-duration: 10s;
}

.confetti:first-of-type {
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 20px solid #718096;
	border-top: 20px solid transparent;
	top: 3rem;
	left: 10%;
}

.confetti:nth-of-type(n + 2) {
	@apply bg-gray-400;
}

.confetti:nth-of-type(2) {
	@apply bg-gray-700;
	width: 25px;
	height: 25px;
	top: 20%;
	left: 50%;
}

.confetti:nth-of-type(3) {
	opacity: 0.2;
	width: 35px;
	height: 35px;
	right: 10%;
	bottom: 10%;
}

.confetti:nth-of-type(4) {
	@apply bg-gray-700;
	opacity: 0.5;
	bottom: 10%;
	left: 10%;
}

.confetti:nth-of-type(5) {
	filter: blur(4px);
	opacity: 0.3;
	width: 46px;
	height: 46px;
	left: 40%;
	bottom: 5%;
}
.confetti:nth-of-type(6) {
	width: 20px;
	height: 20px;
	right: 10%;
	top: 50%;
}
.confetti:nth-of-type(8) {
	@apply border-yellow-500 bg-transparent;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid orange;
	border-top: 20px solid transparent;
	width: 10px;
	height: 10px;
	left: 50%;
	top: 50%;
}
.confetti:nth-of-type(7) {
	@apply bg-yellow-500;
	width: 10px;
	height: 10px;
	left: 20%;
	top: 10%;
}

.confetti:nth-of-type(9) {
	@apply bg-yellow-500;
	filter: blur(4px);
	width: 64px;
	height: 64px;
	right: 12%;
	top: 5%;
}
.confetti:nth-of-type(2),
.confetti:nth-of-type(5),
.confetti:nth-of-type(7) {
	animation-name: floatTwo;
	animation-duration: 10s;
}
.confetti:nth-of-type(3),
.confetti:nth-of-type(6),
.confetti:nth-of-type(9) {
	animation-name: floatThree;
	animation-duration: 20s;
}

.confetti:nth-of-type(2n) {
	animation-direction: alternate-reverse;
}
@keyframes floatOne {
	from {
		transform: translate(0, 0) rotateZ(0deg);
		filter: blur(0px);
	}
	to {
		transform: translate(-100%, 5%) rotateZ(125deg);
		filter: blur(4px);
	}
}
@keyframes floatTwo {
	from {
		transform: translate(-100%, -100%) rotateZ(0deg);
		filter: blur(6px);
	}
	to {
		transform: translate(100%, 100%) rotateZ(270deg);
		filter: blur(2px);
	}
}
@keyframes floatThree {
	from {
		transform: translate(-150%, -50%) rotateZ(0deg);
		filter: blur(4px);
	}
	to {
		transform: translate(0, 100%) rotateZ(270deg);
		filter: blur(1px);
	}
}

.slow-fade {
	transition: opacity 0.3s 0.3s ease-in-out, transform 0.6s ease-out;
}
