@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;700&display=swap');

body {
  @apply text-gray-100;
  @apply bg-gray-800;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  max-width: 100vw;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.hero-paragraph {
  max-width: 40ch;
}

.accented {
  z-index: 0;
  position: relative;
}

.accented::after {
  @apply text-yellow-600;
  display: block;
  content: '_';
  font-family: 'Permanent marker';
  font-size: 72px;
  position: absolute;
  bottom: 0.625rem;
  right: -0.5rem;
  transform: rotateZ(-5deg);
  z-index: -1;
}
